body {
    background-color: #171C22;
    color: white;
    font-size: 18px;
}
.app {
    display: grid;
    grid-template-rows: 1.5fr 4fr 1.4fr;
    height: 100vh;
}

.searchBox{
    width: 15em;
    border-radius: 3em;
    background: #D8D8D8 url('/images/search.svg') no-repeat 95% center; 
}

.logo{
    width: 15em;
}

.MuiAutocomplete-endAdornment{
    display:none;
}

.header{
    background-image: url('/images/hero.jpg');
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    padding: 2em;
}
.main{
    display: grid;
    grid-template-columns: 2fr 5fr 2fr;
    margin-bottom:2em;
}
.content{
    display: grid;
    grid-template-rows: auto 1fr;
}

.footer{
    display: grid;
    grid-template-columns: repeat(5, 2fr);
    background-color: #1F262C;
}
.footer p{
    padding-left: 5em;
}

.footer a {
    color: white;
    text-decoration: none;
}
.footer div {
    border: 0;
}

.footer > div > p:first-child{
    height: 2em;
    padding-left: 0;
}
    
.panels > div {
    background-color: #D8D8D8;
    color: #0C0C0C;
}

.person th{
    background-color: #1F262C;
    padding: 0 2em;
}

.person tr:nth-child(even){
    background-color: rgb(75, 42, 69);
}

.person caption{
    font-size: larger;
}

.movie {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content;
    column-gap: 2em;
    padding-bottom: 2em;
}

button {
	box-shadow: 0 0 0 0.2em #9fb4f2;
	background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	background-color:#7892c2;
	border-radius:1em;
	border:0.1em solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	text-decoration:none;
    text-shadow:0 0.1em 0 #283966;
    margin: 1em;
}

button:hover {
	background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
	background-color:#476e9e;
}

button:active {
	position:relative;
	top:0.1em;
}

@media (max-width: 1280px) {
    .movie {
        grid-template-columns: auto ;
        grid-template-rows: auto ;
        margin:2em;
    }
  }

@media (max-width: 1024px) {
    .app, .header, .main, .footer {
        grid-template-columns: auto ;
        grid-template-rows: auto ;
        padding:2em;
    }
    .search {
        margin-top: 2em;
    }
  }